<h1> Bienvenue sur Centrale Stages !!</h1>

{% if age >= 18 %}
<h2> Tu es majeur ! </h2>

{% else %}

<h2> Tu es mineur ! </h2>

{% endif %}

<h2> Car tu as {{ age }} ans !!!!</h2>

<p> Descriptions de stages et tout </p>
